version: '3.8'

services:
  # L'équivalent du container "DATA"
  data:
    image: mariadb
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

  # L'équivalent du container "SCRIPT"
  script:
    build: .   # Il va construire l'image à partir du Dockerfile courant
    volumes:
      - ./html:/app
    depends_on:
      - data   # S'assure que la base de données démarre

  # L'équivalent du container "HTTP"
  http:
    image: nginx
    ports:
      - "8080:80"
    volumes:
      - ./html:/app
      - ./conf/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - script # S'assure que PHP démarre

